@import url("https://fonts.googleapis.com/css?family=Lato:400,400italic,700,900&display=swap");

body {
   padding: 10px;
}
.thrivetalk_container {
   max-width: 100%;
}
.thrivetalk__thrivetalk-header {
   display: inline-block;
}
.thrivetalk-header__sub-title {
   font-family: Lato;
   font-weight: 700;
   font-style: normal;
   font-size: 18px;
   color: rgb(97, 207, 222);
   position: absolute;
   margin: 35px 0 0 170px;
}
.thrivetalk__header-list {
   display: inline-block;
}
.header-list__list-header {
   position: absolute;
   margin: 35px 0 0 400px;
}
.list-header__item {
   display: inline;
   font-family: Lato;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   margin-left: 50px;
}
.list-header__item:hover {
   text-decoration: underline;
}
.thrivetalk__thrivetalk-header-button {
   display: inline-block; 
}
.thrivetalk-header-button__link {
   font-family: Lato;
   font-weight: 700;
   font-style: normal;
   font-size: 12px;
   color: rgb(253, 250, 250);
   background-color: rgb(97, 207, 222);
   border-radius: 50px;
   padding: 10px;
   position: absolute;
   margin: 28px 0 0 1100px;
}
.thrivetalk-header-button__link:hover {
   background-color: rgb(249, 182, 64);
   padding: 10px;
   text-shadow: 1px 0 1px rgb(0, 0, 0);
   box-shadow: 2px 2px 8px rgb(0, 0, 0);
}
.thrivetalk-content__content-block {
   position: absolute;
   margin: 164px 0 0 0;
}
.content-block__sub-title {
   margin: 0 0 20px 170px;
   font-family: Lato;
   font-weight: 700;
   font-style: normal;
   font-size: 18px;
   color: rgb(97, 207, 222);
}
.content-block__title {
   font-family: Lato;
   font-weight: 700;
   font-style: normal;
   font-size: 25px;
   margin: 0 0 40px 170px;
   line-height: 1.3;
}
.content-block__text {
   font-family: Lato;
   font-weight: normal;
   font-style: normal;
   font-size: 18px;
   margin: 0 0 60px 170px;
   line-height: 1.3;
   max-width: 375px;
}
.content-block__link-who-am-i {
   font-family: Lato;
   font-weight: 700;
   font-style: normal;
   font-size: 12px;
   color: rgb(255, 255, 255);
   background-color: rgb(97, 207, 222);
   margin: 0 0 0 170px;
   padding: 7px 20px;
   border-radius: 5px;
}
.content-block__link-who-am-i:hover {
   padding: 7px 20px;
   width: 50px;
   font-size: 12px;
   border-radius: 5px;
   color: rgb(255, 255, 255);
   background-color: rgb(249, 182, 64);
   box-shadow: 2px 2px 8px rgb(0, 0, 0);
   text-shadow: 1px 0 1px rgb(0, 0, 0);
}
.content-block__link-do-i-do {
   font-family: Lato;
   font-weight: 700;
   font-style: normal;
   font-size: 12px;
   color: rgb(255, 255, 255);
   background-color: rgb(97, 207, 222);
   margin: 0 0 0 150px;
   padding: 7px;
   border-radius: 5px;
}
.content-block__link-do-i-do:hover {
   color: rgb(255, 255, 255);
   background-color: rgb(249, 182, 64);
   text-shadow: 1px 0 1px rgb(0, 0, 0);
   box-shadow: 2px 2px 8px rgb(0, 0, 0);
   padding: 7px;
   width: 50px;
   font-size: 12px;
   border-radius: 5px;
}
.thrivetalk-header__image {
   width: 1505px;
}
.why-thrive__title-why-thrive {
   position: absolute;
}
.title-why-thrive__title {
   font-family: Lato;
   font-weight: 700;
   font-style: normal;
   font-size: 25px;
   margin: 200px 0 75px 170px;
   color: rgb(255, 255, 255);
   letter-spacing: 3px;
   text-decoration: underline;
}
.why-thrive__text-why-thrive {
   position: absolute;
   font-family: Lato;
   font-weight: normal;
   font-style: normal;
   font-size: 18px;
   color: rgb(255, 255, 255);
   line-height: 1.5;
   text-align: justify;
   margin: 277px 0 0 170px;
   letter-spacing: 2px;
   max-width: 510px;
}
.image-why-thrive__image {
   width: 1500px;
}
.about-us__title-about-us {
   display: inline-block;
   vertical-align: top;
}
.title-about-us__title {
   font-family: Lato;
   font-weight: normal;
   font-style: normal;
   font-size: 18px;
   color: rgb(34, 53, 111);
   margin: 161px 0 0 85px;
   letter-spacing: 1px;
}
.about-us__text-about-us {
   display: inline-block;
   vertical-align: top;
   max-width: 892px;
}
.text-about-us__text {
   font-family: Lato;
   font-weight: 700;
   font-style: normal;
   font-size: 18px;
   line-height: 1.5;
   color: rgb(34, 53, 111);
   margin: 156px 0 70px 300px;
   letter-spacing: 1px;
   word-spacing: 2px;
}
.can-help__container {
   margin: 0 0 120px 0;
}
.title-can-help__title {
   font-family: Lato;
   font-weight: 700;
   font-style: normal;
   font-size: 18px;
   color: rgb(128, 128, 128);
   text-align: center;
   letter-spacing: 2px;
   word-spacing: 2px;
   margin: 0 0 24px 0;
}
.can-help__weight-lifting {
   display: inline-block;
   width: 371px;
   height: 370px;
   background-color: rgb(255, 226, 222);
}
.weight-lifting__title {
   font-family: Lato;
   font-weight: 700;
   font-style: normal;
   font-size: 25px;
   padding: 95px 50px 211px 78px;
   color: white;
   background: url('../img/Ellipse.svg') 50px 135px / 12px no-repeat;
   min-height: 12px;
}
.weight-lifting__title::before {
   content: "";
   display: block;
   height: 3px;
   width: 70%;
   margin: 0 0 30px 0;
   background-color: white;
}
.can-help__running-spinning {
   display: inline-block;
   width: 371px;
   height: 370px;
   background-color: rgb(196, 231, 105);
   vertical-align: bottom;
}
.running-spinning__title {
   font-family: Lato;
   font-weight: 700;
   font-style: normal;
   font-size: 25px;
   padding: 95px 50px 211px 78px;
   color: white;
   background: url('../img/Ellipse.svg') 50px 135px / 12px no-repeat;
   min-height: 12px;
}
.running-spinning__title::before {
   content: "";
   display: block;
   height: 3px;
   width: 70%;
   margin: 0 0 30px 0;
   background-color: white;
}
.can-help__pumping-iron {
   display: inline-block;
   width: 371px;
   height: 370px;
   background-color: rgb(98, 208, 223);
}
.pumping-iron__title {
   font-family: Lato;
   font-weight: 700;
   font-style: normal;
   font-size: 25px;
   padding: 95px 50px 211px 78px;
   color: rgb(255, 255, 255);
   background: url('../img/Ellipse.svg') 50px 135px / 12px no-repeat;
   min-height: 12px;
}
.pumping-iron__title::before {
   content: "";
   display: block;
   height: 3px;
   width: 70%;
   margin: 0 0 30px 0;
   background-color: rgb(255, 255, 255);
}
.can-help__pumping-iron-light {
   display: inline-block;
   width: 371px;
   height: 370px;
   background-color: rgb(0, 82, 193);
}
.pumping-iron-light__title {
   font-family: Lato;
   font-weight: 700;
   font-style: normal;
   font-size: 25px;
   padding: 95px 50px 211px 78px;
   color: rgb(255, 255, 255);
   background: url('../img/Ellipse.svg') 50px 135px / 12px no-repeat;
   min-height: 12px;
}
.pumping-iron-light__title::before {
   content: "";
   display: block;
   height: 3px;
   width: 70%;
   margin: 0 0 30px 0;
   background-color: rgb(255, 255, 255);
}
.exercises-nutritions__container {
   background-color: rgb(196, 231, 105);
}
.execises-nutritions__physical {
   display: inline-block;
   width: 494px;
   height: 350px;
   background-color: rgb(34, 53, 111);
   outline: 3px solid rgb(0, 0, 0);
   margin: 0 0 5px 2px;
}
.execises-nutritions__physical:hover {
   display: inline-block;
   width: 494px;
   height: 350px;
   background: url('../img/physical-health.jpg') 0 0 / cover no-repeat;
   outline: 3px solid rgb(0, 0, 0);
}
.physical__title {
   position: absolute;
   font-family: Lato;
   font-weight: 900;
   font-style: normal;
   font-size: 25px;
   line-height: 20px;
   text-transform: uppercase;
   background: rgba(0, 0, 0, 0.479);
   color: rgb(255, 255, 255);
   padding: 10px 20px;
   margin: 150px 0 0 100px;
   text-shadow: 3px 0 1px rgb(0, 0, 0);
   word-spacing: 5px;
   letter-spacing: 2px;
}
.exercises-nutritions__mental {
   display: inline-block;
   width: 494px;
   height: 350px;
   background-color: rgb(0, 82, 193);
   outline: 3px solid rgb(0, 0, 0);
   margin: 0 0 5px 2px;
}
.exercises-nutritions__mental:hover {
   width: 494px;
   height: 350px;
   outline: 3px solid black;
   background: url('../img/mental-health.jpg') 0 0 / cover no-repeat;
}
.mental__title {
   position: absolute;
   font-family: Lato;
   font-weight: 900;
   font-style: normal;
   font-size: 25px;
   line-height: 20px;
   text-transform: uppercase;
   background: rgba(0, 0, 0, 0.479);
   color: rgb(255, 255, 255);
   padding: 10px 20px;
   margin: 150px 0 0 120px;
   text-shadow: 3px 0 1px rgb(0, 0, 0);
   word-spacing: 5px;
   letter-spacing: 2px;
}
.exercises-nutritions__nutrition {
   display: inline-block;
   width: 494px;
   height: 350px;
   background-color: rgb(178, 205, 243);
   outline: 3px solid rgb(0, 0, 0);
   margin: 0 0 5px 2px;
}
.exercises-nutritions__nutrition:hover {
   display: inline-block;
   width: 494px;
   height: 350px;
   outline: 3px solid rgb(0, 0, 0);
   background: url('../img/nutritions.jpg') 0 0 / cover no-repeat;
}
.nutrition__title {
   position: absolute;
   font-family: Lato;
   font-weight: 900;
   font-style: normal;
   font-size: 25px;
   line-height: 20px;
   text-transform: uppercase;
   background: rgba(0, 0, 0, 0.479);
   color: rgb(255, 255, 255);
   padding: 10px 20px;
   margin: 150px 0 0 120px;
   text-shadow: 3px 0 1px rgb(0, 0, 0);
   padding: 10px 50px;
   letter-spacing: 2px;
}
.exercises-nutritions__gymnastics {
   display: inline-block;
   width: 494px;
   height: 350px;
   outline: 3px solid rgb(0, 0, 0);
   background-color: rgb(98, 208, 223);
   margin: 3px 0 0 2px;
}
.exercises-nutritions__gymnastics:hover {
   display: inline-block;
   width: 494px;
   height: 350px;
   outline: 3px solid rgb(0, 0, 0);
   background: url('../img/gymnastic.jpg') 0 0 / cover no-repeat;
}
.gymnastics__title {
   position: absolute;
   font-family: Lato;
   font-weight: 900;
   font-style: normal;
   font-size: 25px;
   margin: 150px 0 0 120px;
   line-height: 20px;
   text-transform: uppercase;
   background: rgba(0, 0, 0, 0.479);
   color: rgb(255, 255, 255);
   padding: 10px 20px;
   text-shadow: 3px 0 1px rgb(0, 0, 0);
   letter-spacing: 2px;
   padding: 10px 40px;
}
.exercises-nutritions__crossfit {
   display: inline-block;
   width: 494px;
   height: 350px;
   outline: 3px solid rgb(0, 0, 0);
   background-color: rgb(222, 225, 255);
   margin: 3px 0 0 2px;
}
.exercises-nutritions__crossfit:hover {
   display: inline-block;
   width: 494px;
   height: 350px;
   outline: 3px solid rgb(0, 0, 0);
   background: url('../img/crossfit.jpg') 0 0 / cover no-repeat;
}
.crossfit__title {
   position: absolute;
   font-family: Lato;
   font-weight: 900;
   font-style: normal;
   font-size: 25px;
   margin: 150px 0 0 120px;
   color: rgb(255, 255, 255);
   line-height: 20px;
   text-transform: uppercase;
   background: rgba(0, 0, 0, 0.479);
   color: rgb(255, 255, 255);
   padding: 10px 20px;
   text-shadow: 3px 0 1px rgb(0, 0, 0);
   padding: 10px 60px;
   letter-spacing: 2px;
}
.exercises-nutritions__aerobics {
   display: inline-block;
   width: 494px;
   height: 350px;
   outline: 3px solid rgb(0, 0, 0);
   background-color: rgb(143, 0, 255);
   margin: 3px 0 0 2px;
}
.exercises-nutritions__aerobics:hover {
   display: inline-block;
   width: 494px;
   height: 350px;
   outline: 3px solid rgb(0, 0, 0);
   background: url('../img/aerobic1.jpg') 0 0 / cover no-repeat;
}
.aerobics__title {
   position: absolute;
   font-family: Lato;
   font-weight: 900;
   font-style: normal;
   font-size: 25px;
   margin: 150px 0 0 120px;
   color: rgb(255, 255, 255);
   line-height: 20px;
   text-transform: uppercase;
   background: rgba(0, 0, 0, 0.479);
   color: rgb(255, 255, 255);
   padding: 10px 50px;
   text-shadow: 3px 0 1px rgb(0, 0, 0);
   letter-spacing: 2px;
}
.same-programs__nutritional-plans, .same-programs__weight-loss, .same-programs__mental-peace {
   display: inline-block;
   max-width: 494px;
   vertical-align: top;
}
.nutritional-plans__title, .weight-loss__title, .mental-peace__title {
   font-family: Lato;
   font-weight: 700;
   font-style: normal;
   font-size: 25px;
   margin: 55px 0 28px 105px;
   color: rgb(34, 53, 111);
}
.nutritional-plans__text, .weight-loss__text, .mental-peace__text {
   font-family: Lato;
   font-weight: normal;
   font-style: normal;
   font-size: 18px;
   margin: 0 0 0 105px;
   color: rgba(34, 53, 111, 0.5);
}
.same-programs__home-training, .same-programs__work-life-balance, .same-programs__cardio {
   display: inline-block;
   max-width: 494px;
   vertical-align: top;
}
.home-training__title, .work-life-balance__title, .cardio__title {
   font-family: Lato;
   font-weight: 700;
   font-style: normal;
   font-size: 25px;
   margin: 55px 0 28px 105px;
   color: rgb(34, 53, 111);
}
.home-training__text, .work-life-balance__text, .cardio__text {
   font-family: Lato;
   font-weight: normal;
   font-style: normal;
   font-size: 18px;
   margin: 0 0 77px 105px;
   color: rgba(34, 53, 111, 0.5);
}
.image-you-should__image {
   width: 1495px;
}
.mdd-affects__title {
   position: absolute;
   font-family: Lato;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   color: rgb(34, 53, 111);
   margin: 50px 0 0 589px;
}
.mdd-affects__text {
   position: absolute;
   font-family: Lato;
   font-weight: 900;
   font-style: normal;
   font-size: 25px;
   color: rgb(34, 53, 111);
   word-spacing: 1px;
   letter-spacing: 1px;
   line-height: 1.5;
   margin: 263px 0 0 589px;
}
.mdd-affects__string {
   color: rgb(97, 207, 222);
}
.mdd-affects__link {
   position: absolute;
   font-family: Lato;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   color: rgb(250, 182, 62);
   margin: 570px 0 42px 589px;
}
.ready-set-smile__sub-title {
   font-family: Lato;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   color: rgb(255, 255, 255);
   margin: 50px 0 230px 180px;
   position: absolute;
}
.ready-set-smile__title {
   position: absolute;
   font-family: Lato;
   font-weight: 900;
   font-style: normal;
   font-size: 55px;
   color: rgb(255, 255, 255);
   margin: 290px 0 75px 180px;
   letter-spacing: 2px;
}
.ready-set-smile__text {
   position: absolute;
   font-family: Lato;
   font-weight: normal;
   font-style: normal;
   font-size: 25px;
   color: rgb(255, 255, 255);
   margin: 388px 0 59px 180px;
   letter-spacing: 2px;
   line-height: 1.5;
   max-width: 460px;
}
.ready-set-smile__link {
   position: absolute;
   font-family: Lato;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   color: rgb(98, 208, 223);
   margin: 560px 0 42px 180px;
}
.ready-image__image {
   width: 1495px;
}
.footer-info__image-footer {
   display: inline-block;
}
.container__information-content {
   display: inline-block;
   vertical-align: top;
   margin: 98px 0 0 68px;
}
.footer-info__some-info {
   display: inline-block;
   vertical-align: top;
}
.some-info__title, .enfold-health__title, .office-hours__title {
   font-family: Lato;
   font-weight: 700;
   font-style: normal;
   font-size: 18px;
   color: rgb(34, 53, 111);
   margin: 0 0 20px 0;
}
.some-info__text, .enfold-health__text, .office-hours__text {
   font-family: Lato;
   font-weight: normal;
   font-style: normal;
   font-size: 14px;
   color: rgba(34, 53, 111, 0.5);
   line-height: 1.8;
}
.footer-info__enfold-health {
   display: inline-block;
   vertical-align: top;
   margin-left: 56px;
}
.enfold-health__string {
   display: block;
   color: rgba(34, 53, 111, 0.5);
}
.enfold-health__link {
   color: rgb(0, 109, 255);
}
.footer-info__office-hours {
   display: inline-block;
   vertical-align: top;
   margin-left: 56px;
}
.footer-info__footer-bottom {
   background-color: rgb(98, 208, 223);
   height: 80px;
   padding: 32px 0 0 194px;
}
.footer-bottom__string {
   font-family: Lato;
   font-weight: 700;
   font-style: normal;
   font-size: 14px;
   color: rgb(255, 255, 255);
}